<!DOCTYPE html>
<html lang="es">
<link href="css/login.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="header-top-bar">
            <div class='logoYBuscador'><img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo">
                <div class="buscador">
                    <input type="search" placeholder="Buscar productos, marcas...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <p class="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div class="lista">
            <div class='navBar'>
                <ul class="cdt"> <!--cdt= cuerpo de texto-->
                    <li>Ofertas </li>
                    <li> Tiendas oficiales</li>
                    <li> Vender</li>
                    <li> Ayuda</li>
                </ul>
            </div>
            <div class='loginBar'>
                <ul class="cdt">
                    <li>
                        Creá tu cuenta<i class="fa-regular fa-id-card"></i>
                    </li>
                    <li>
                        Ingresá <i class="fa-solid fa-right-to-bracket"></i>
                    </li>
                    <li>
                        Mis compras <i class="fa-solid fa-basket-shopping"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="signupFrm">
            <form action="/login" method='POST' class="form">
                <h1 class="title">Inicia sesión para empezar</h1>

                <div class="inputContainer">
                    <input type="text" name='nombredeusuario' class="input" placeholder="a">
                    <label for="nombredeusuario" class="label">Nombre de usuario</label>
                </div>

                <div class="inputContainer">
                    <input type="password" name='contraseña' class="input" placeholder="a">
                    <label for="contraseña" class="label">Contraseña</label>
                </div>

                <div class="botones">
                    <input type="submit" class='botonenviar' value="Ingresar">
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="pieDePagina">
            <div class="elemento">
                <div class="iconoFooter"><i class="fa-solid fa-credit-card"></i></div>
                <p class="titular"><b>Pagá con tarjeta o en efectivo</b></p>
                <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de
                    pago. ¡Y siempre es
                    seguro!</p>
            </div>

            <div class="elemento">
                <div class="iconoFooter"><i class="fa-solid fa-gift"></i></div>
                <p class="titular"><b>Envío gratis desde los $2.500</b></p>
                <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es
                    un beneficio de
                    Mercado Puntos.</p>
            </div>

            <div class="elemento">
                <div class="iconoFooter"><i class="fa-solid fa-user-shield"></i></div>
                <p class="titular"><b>Seguridad, de principio a fin</b></p>
                <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque
                    estás siempre protegid@.
                </p>
            </div>
        </div>
        <p class="cdt">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>